<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
</head>
<body>
  <h1>Home Page</h1>
<h1><%= RESTAURANT.name %></h1>
  <h2>Address: <%= RESTAURANT.address %></h2>
  <h2> Phone:<%= RESTAURANT.phone %></h2>
 
</body>
</html>
